form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

p {
    font-style: italic;
    font-weight: 700;
}

select {
    margin-right: 20px;
}

.menu-item {
    border: 2px solid #66cdaa;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu {
    height: 40px;
    width: 70px;
    background: green;
    position: absolute;
    cursor: pointer;
}